{% extends 'unfold/layouts/base_simple.html' %}


{% block breadcrumbs %}{% endblock %}

{% block title %}
    {% if subtitle %}
        {{ subtitle }} |
    {% endif %}

    {{ title }} | {{ site_title|default:'Django site admin' }}
{% endblock %}

{% block branding %}
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}">
            {{ site_header|default:'Django administration' }}
        </a>
    </h1>
{% endblock %}

{% block content %}
<style>
    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      padding: 0.5em;
      background-color: #f0f0f0;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      color: #333;
    }
    </style>
<div class="flex flex-col lg:flex-row lg:gap-8">
    <div class="flex-grow">
        {% include "unfold/helpers/app_list_default.html" %}
    </div>

    {% include "unfold/helpers/history.html" %}
    
    <div>
        <div id="content-related" class="lg:w-96 mb-5">
            <div id="recent-actions-module" class="module bg-gray-50 rounded-md p-3 dark:bg-gray-800">
                <h2 class="mb-3 font-semibold text-gray-700 text-sm dark:text-gray-200">
                    Add Exec Article
                </h2>

                <form action="{% url 'get_service_excel' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <ul class="actionlist">

                        <li class="border border-gray-400/10 bg-white mb-3 p-3 rounded-md shadow-sm last:mb-0 dark:bg-gray-900">
                            <input class="bg-transparent border px-2 w-full bg-blue-50 rounded-md py-2 focus:outline-[#2196f3]" type="file" name="excel">
                        </li>

                        <li class="border border-gray-400/10 bg-white mb-3 p-3 rounded-md shadow-sm last:mb-0 dark:bg-gray-900 select-wrapper">
                            <select name="lang" class="bg-transparent border p-2 w-full bg-blue-50 rounded-md py-2 focus:outline-[#2196f3]">
                                <option value="uz">Uz</option>
                                <option value="ru">Ru</option>
                                <option value="en">En</option>
                            </select>
                        </li>
                        <li class="border border-gray-400/10 bg-white mb-3 p-3 rounded-md shadow-sm last:mb-0 dark:bg-gray-900 select-wrapper">
                            <select name="lang" class="bg-transparent border p-2 w-full bg-blue-50 rounded-md py-2 focus:outline-[#2196f3]">
                                {% for item in regions %}
                                <option value="{{ item.id }}">{{ item.uz_name }}</option>
                                {% endfor %}
                            </select>
                        </li>
                        <li class="border border-gray-400/10 bg-white mb-3 p-3 rounded-md shadow-sm last:mb-0 dark:bg-gray-900 select-wrapper">
                            <select name="lang" class="bg-transparent border p-2 w-full bg-blue-50 rounded-md py-2 focus:outline-[#2196f3]">
                                {% for item in cities %}
                                <option value="{{ item.id }}">{{ item.uz_name }}</option>
                                {% endfor %}
                            </select>
                        </li>
                        <li>
                            <button style="background-color: #9333EA;" class="text-white px-4 py-1 rounded" type="submit">Save</button>
                        </li>
                </ul>
                </form>
            </div>
        </div>

        <div id="content-related" class="lg:w-96 mb-5">
            <div id="recent-actions-module" class="module bg-gray-50 rounded-md p-3 dark:bg-gray-800">
                <h2 class="mb-3 font-semibold text-gray-700 text-sm dark:text-gray-200">
                    Add Exec Product
                </h2>

                <form action="{% url 'get_product_excel' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <ul class="actionlist">

                        <li class="border border-gray-400/10 bg-white mb-3 p-3 rounded-md shadow-sm last:mb-0 dark:bg-gray-900">
                            <input class="bg-transparent border p-2 px-2 w-full bg-blue-50 rounded-md py-2 focus:outline-[#2196f3]" type="file" name="excel">
                        </li>
                        <li class="border border-gray-400/10 bg-white mb-3 p-3 rounded-md shadow-sm last:mb-0 dark:bg-gray-900 select-wrapper">
                            <select name="lang" class="bg-transparent border p-2 w-full bg-blue-50 rounded-md py-2 focus:outline-[#2196f3]">
                                <option value="uz">Uz</option>
                                <option value="ru">Ru</option>
                                <option value="en">En</option>
                            </select>
                        </li>
                        <li class="border border-gray-400/10 bg-white mb-3 p-3 rounded-md shadow-sm last:mb-0 dark:bg-gray-900 select-wrapper">
                            <select name="lang" class="bg-transparent border p-2 w-full bg-blue-50 rounded-md py-2 focus:outline-[#2196f3]">
                                {% for item in regions %}
                                <option value="{{ item.id }}">{{ item.uz_name }}</option>
                                {% endfor %}
                            </select>
                        </li>
                        <li class="border border-gray-400/10 bg-white mb-3 p-3 rounded-md shadow-sm last:mb-0 dark:bg-gray-900 select-wrapper">
                            <select name="lang" class="bg-transparent border p-2 w-full bg-blue-50 rounded-md py-2 focus:outline-[#2196f3]">
                                {% for item in cities %}
                                <option value="{{ item.id }}">{{ item.uz_name }}</option>
                                {% endfor %}
                            </select>
                        </li>
                        <li>
                            <button style="background-color: #9333EA;" class="text-white px-4 py-1 rounded" type="submit">Save</button>
                        </li>
                </ul>
                </form>
            </div>
        </div>

    </div>
</div>

{% endblock %}